.~*
.build
.cache/
.fuse_hidden*
.qmake.stash
.tmp_versions/
.vs
.vscode
.*.swo
.*.swp


*.a
*.aux
*.bk
*.bak
*.cmd
*.d
!conf.d
!init.d
!profile.d
*.dat
*.debug.pri
*.dtb
*.dtbo
*.elf
*.fdb_latexmk
*.fls
*.i
*.ko
*.lib
*.log
*.mod
*.mod.c
*.o
*.obj
*.out
*.pb.cc
*.pb.h
*.pdb
*.plist
*.priv.*
*.pyc
*.so
*.so.*
*.synctex.gz
*.tmp
*.toc
*_pb2.py


CMakeCache.txt
CMakeFiles
Module.symvers
bin/
cmake_install.cmake
compile_commands.json
core.*
cscope.files
gccdump.s
log/
logs/
moc_*.h
moc_*.cpp
modules.order
obj/
QtMakefile
tags
ui_*.h


lazy_coding
lazy_coding_skills

QPlayerSlider.cpp
QPlayerSlider.hpp
QVideoCanvas.cpp
QVideoCanvas.hpp
camera_v4l2.c
camera_v4l2.h
chardev_group.c
chardev_group.h
communication_protocol.c
communication_protocol.h
devclass_supplements.c
devclass_supplements.h
evol_kernel.h
ini_file.c
ini_file.h
ini_map.hpp
klogging.h
logger_on_syslog.c
logger_on_syslog.h
nop.h
qt_print.hpp
signal_handling.c
signal_handling.h
sleeps.c
sleeps.h
socket_supplements.c
socket_supplements.h
string_supplements.c
string_supplements.h
thread_queue_forward_declaration.hpp
thread_queue.hpp
__ver__.h
watchdog.c
watchdog.h

buildroot.mk
c_and_cpp.mk
checkout.git.mk
checkout.svn.mk
linux_driver.mk
linux_kernel.mk
stm32_cube_ide.mk
stm32_extra.mk
stm32f1x_extra.mk
u-boot.mk
__ver__.mk


<stdin>.s


_tmp_
__pycache__


main.pdf

